# Pr√°ctica Supervivencia en el Titanic

In [1]:
## 1.1 Cargando los Datos

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

## 1.2 Estudiamos los Datos

In [5]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.25
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,"712,833"
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,"7,925"
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1
4,0,3,Mr. William Henry Allen,male,35.0,0,0,08.05

In [6]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard
count,887.000000,887.000000,887.000000,887.000000,887.000000
mean,0.385569,2.305524,29.471443,0.525366,0.383315
std,0.487004,0.836662,14.121908,1.104669,0.807466
min,0.000000,1.000000,0.420000,0.000000,0.000000
25%,0.000000,2.000000,20.250000,0.000000,0.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000
75%,1.000000,3.000000,38.000000,1.000000,0.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000

## 1.3 Preprocessing

Primero haremos one hot encoding para "Sex"

In [8]:
def f(x) :
    if x == 'male':
        return 1
    else :
        return 0

In [9]:
print(f('male'))

1

In [10]:
print(f('female'))

0

In [11]:
df['Sex'] = df['Sex'].apply(f)

In [12]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.25
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,"712,833"
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,"7,925"
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1
4,0,3,Mr. William Henry Allen,1,35.0,0,0,08.05

Eliminaremos los outliers en Fare

In [16]:
df['Fare'] = pd.to_numeric(df['Fare'], 
errors='coerce')

In [17]:
df = df[df['Fare']<200]

In [18]:
df = df.reset_index(drop = True)

In [19]:
df.describe()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,628.000000,628.000000,628.000000,628.000000,628.000000,628.000000,628.000000
mean,0.353503,2.364650,0.678344,29.704092,0.429936,0.277070,22.353960
std,0.478438,0.773871,0.467484,13.371720,1.067063,0.670392,25.249584
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,12.350000
75%,1.000000,3.000000,1.000000,37.000000,1.000000,0.000000,26.062500
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,151.550000

In [20]:
X = df[['Sex','Age','Fare']].values
y = df['Survived'].values

In [21]:
X

array([[ 1.  , 22.  ,  7.25],
       [ 0.  , 35.  , 53.1 ],
       [ 1.  , 35.  ,  8.05],
       ...,
       [ 0.  ,  7.  , 23.45],
       [ 1.  , 26.  , 30.  ],
       [ 1.  , 32.  ,  7.75]])

In [22]:
y

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

## 1.4 Training and Testing

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [24]:
X_train

array([[ 1.    , 19.    ,  8.1583],
       [ 0.    , 22.    , 49.5   ],
       [ 1.    , 14.    , 46.9   ],
       ...,
       [ 1.    , 19.    , 13.    ],
       [ 0.    , 38.    , 13.    ],
       [ 1.    , 52.    , 30.5   ]])

# 1.5 Train the model

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [28]:
print(model.predict([[0, 5, 100]]))

[1]

In [29]:
print(model.predict_proba([[0, 5, 100]]))

[[0.05624939 0.94375061]]

In [30]:
print(model.predict([[1, 45, 1]]))

[0]

In [31]:
print(model.predict_proba([[1, 45, 1]]))

[[0.90360684 0.09639316]]

## 1.6 Evaluando el Modelo

In [32]:
from sklearn.metrics import accuracy_score

In [33]:
y_predict = model.predict(X_test)

In [34]:
print(accuracy_score(y_predict, y_test))

0.798941798941799

In [35]:
from sklearn.metrics import confusion_matrix

In [36]:
print(confusion_matrix(y_predict, y_test))

[[98 21]
 [17 53]]

## 1.7 Guardar el Modelo

In [37]:
import pickle

In [38]:
pickle.dump(model,open('mymodel.sav','wb'))

In [ ]:
modelo_importado = pickle.load(open('mymodel.sav','rb'))